
  .theme1_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5s);
    z-index: 2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  .theme1_card{
    position: relative;
      width:500;
      height:300;
      background-color:black;
  }

.theme1_button{
  position: absolute;
  left:110px;
  top:-85px;
    font-size: 300px;
    background-color: transparent;
    border: none;
    animation-name: example;
    animation-duration: 1s;
    color:orangered;
    animation-iteration-count: infinite;
    /* animation:infinite; */
}

@keyframes example {
  0%{color:red;}
	25%{color:orange;}
	50%{color: violet;}
	75%{color: green;}
	100%{color: white;}
  /* 0%{top:-600px}
  
  100% {  font-size:40px;top:120px; left:230px; } */
}
.theme1_button1{
  position: absolute;
  top: 35px;
  left: 90px;
  background-color: transparent;
    border: none;
    font-size: 30px;
    color:rgb(217, 255, 0);
    animation-name: example1;
    animation-duration: 2s;
    /* animation-iteration-count: 3; */
}
@keyframes example1 {
  0% {  left:-600px; }
  
}
.theme1_button2{
  position: absolute;
  top: 200px;
  left: 70px;
  background-color: transparent;
  border: none;
  font-size: 30px;
  color:rgb(217, 255, 0);
  animation-name: example1;
  animation-duration: 2s;
  /* animation-iteration-count: 3; */
}
.theme1_button3{
  position: absolute;
  background-color: transparent;
  border: none;
  right: 38px;
  top: 72px;
  font-size: 30px;
  color:rgb(217, 255, 0);
  animation-name: example2;
  animation-duration: 2s;
  /* animation-iteration-count: 3; */
}
@keyframes example2 {
  0% {  right:-600px; }
  
}
.theme1_button4{
  position: absolute;
  background-color: transparent;
  border: none;
  top: 165px;
  right: 110px;
  font-size: 30px;
  color:rgb(217, 255, 0);
  animation-name: example2;
  animation-duration: 2s;
  /* animation-iteration-count: 3; */
}
.theme1_button5{
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 30px;
  bottom: 15px;
  right: 235px;
  color:rgb(217, 255, 0);
  animation-name: example2;
  animation-duration: 2s;
  /* animation-iteration-count: 3; */
}
.theme1_button6{
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 30px;
  right: 40px;
  bottom: 25px;
  color:rgb(217, 255, 0);
  animation-name: example2;
  animation-duration: 2s;
  /* animation-iteration-count: 3; */
}
.theme1_button7{
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 30px;
  top: 115px;
  left: 25px;
  color:rgb(217, 255, 0);
  animation-name: example1;
  animation-duration: 2s;
  /* animation-iteration-count: 3; */
}
.theme1_button8{
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 30px;
  right: 140px;
  top: 30px;
  color:rgb(217, 255, 0);
  animation-name: example2;
  animation-duration: 2s;
  /* animation-iteration-count: 3; */
}


.theme3_overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.theme3_card{
  position: relative;
    width:300;
    height:150;
    background-color:white;
}
.theme3_h2{
  text-align: center;
  font-family: monospace;
}
.switch {
  position: relative;
  display: inline-block;
  width: 72px;
  height: 45px;
  left: 110px;
  
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:black;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 32px;
  width: 32px;
  left: 6px;
  bottom: 6px;
  background-color: red;
  transition: .4s;
}

input:checked + .slider {
  background-color: black;;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  border: 1px solid black;
}

.slider.round:before {
  border-radius: 50%;
}

.theme4_overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5s);
  z-index: 2;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.theme4_card{
  position: relative;
    width:500;
    height:335;
    background-color:black;
}
.theme4_h2{
  color:#3498db;
  text-align: center;
}


.theme4_loader {
  border: 16px dotted #f3f3f3;
  border-radius: 50%;
  border: 16px dotted #3498db;
  width: 200px;
  height: 200px;
  position: relative;
  left:140px;
 
  animation: spin 2s linear infinite;
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}